.gf-selecteur-adresse {
  .gf-selecteur-adresse-selectionnee:hover {
    border: 1px solid black;
    cursor: pointer;
  }
}

.gf-selecteur-adresse-liste {
  .modal-body {
    height: 400px;
    overflow: scroll;

    .gf-selecteur-adresse-liste-item {
      &:hover {
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
}
