<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
        {{ selectLabel }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <ng-container *ngFor="let formule of formules">
            <button *ngIf="!formule.est_supprime" ngbDropdownItem (click)="getItem(formule)">{{ formule.designation }} - {{ formule.prix | currency: 'EUR':'symbol':'.2-2':'FR' }}</button>
        </ng-container>
    </div>
</div>
