<div class="card mb-3 col">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img src="https://image.freepik.com/vecteurs-libre/restaurant-logo-modele_1236-155.jpg"
        style="width:200px;height:200px" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{franchise.designation}}</h5>
        <p class="card-text">
          {{franchise.telephoneFixe}}<br>
          {{franchise.adresse}}<br>
          {{franchise.email}}
        </p>
        <span *ngIf="actions !== false">
          <a href="#" class="btn btn-light">Livraison</a>
          <a href="#" class="btn btn-light">Emporter</a>
        </span>
      </div>
    </div>
  </div>
</div>
