<div *ngIf="produit" class="card">
    <img src="https://i.pinimg.com/originals/13/82/41/138241097206b1f2b35132f9a09e6d0a.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ produit.designation }}</h5>
        <p class="card-subtitle text-right">{{ produit.prix | currency: 'EUR':'symbol':'.2-2':'FR' }}</p>
        <div class="btn-group float-right mt-3">
            <button class="btn btn-sm btn-success">
                <fa-icon [icon]="icons.add"></fa-icon>
            </button>
            <button class="btn btn-sm btn-danger">
                <fa-icon [icon]="icons.remove"></fa-icon>
            </button>
        </div>

    </div>
</div>
