<div id="valider-panier-page">
  <gf-panier *ngIf="commande" [commande]="commande"></gf-panier>
  <div>
    <div id="valider-panier-page-franchise">
      <div class="row">
        <h4 class="col">Le franchisé</h4>
      </div>
      <div class="row">
        <gf-info-franchise class="col" *ngIf="commande.franchise" [franchise]="commande.franchise" [actions]="false">
        </gf-info-franchise>
      </div>
    </div>
    <div id="valider-panier-page-adresses">
      <div class="row">
        <div class="col">
          <h4>Adresse de livraison</h4>
          <button type="button" class="btn btn-outline-success" disabled>
            <fa-icon [icon]="icons.add"></fa-icon>
          </button>
          <div></div>
        </div>
      </div>
      <div class="row">
        <gf-selecteur-adresse class="col" [localisations]="commande.utilisateur.localisations"></gf-selecteur-adresse>
      </div>
    </div>
    <div id="valider-panier-page-paiement">
      <div class="row">
        <div class="col">
          <h4>Moyen de paiement</h4>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>
