<section class="w-100 mt-5 d-flex justify-content-center">
    <div class="col col-xl-4 col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <form [formGroup]="signinForm" (ngSubmit)="signin()" class="shadow card-body">
                <h3 class="card-title">Connection</h3>
                <div class="form-group">
                    <label>Identifiant</label>
                    <div class="input-group">
                        <input formControlName="email" type="text" class="form-control" placeholder="Entrez votre email">
                    </div>
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <div class="input-group">
                        <input formControlName="password" type="password" class="form-control" placeholder="Entrez votre mot de passe">
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <span class="font-italic text-danger text-center w-100 mx-2">{{ error }}</span>
                    <button type="submit" class="btn btn-primary" [disabled]="signinForm.invalid">S'authentifier</button>
                </div>
            </form>
        </div>
    </div>
</section>
