<div class="gf-panier">
  <div class="gf-panier-header row">
    <h4 class="col">Mon panier</h4>
    <button type="button" class="col btn btn-outline-success" (click)="navigateToCommande()">Modifier mon panier</button>
  </div>

  <div class="gf-panier-contenu">

    <div *ngIf="commande.formules; else panierVide">
      <ngb-accordion class="gf-une-formule">
        <ngb-panel *ngFor="let formule of commande.formules">
          <ng-template ngbPanelTitle>
            <span><strong>{{formule.formule.designation}}</strong></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div>
              <div *ngFor="let produit of formule.produits">
                {{produit.quantite}}x {{produit.produit.designation}}
              </div>
            </div>
            <div style="border: 1px solid grey; margin: 10px 1% 10px 1%;"></div>
            <div>
              <span>{{formule.produits.length}} produit(s) ajouté(s)</span>
              <span style="float: right;">{{formule.formule.prix}}€</span>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <div style="border: 1px solid grey; margin: 10px 1% 10px 1%;"></div>
      <div>
        <span>{{commande.nombreProduits()}} produit(s) ajouté(s)</span>
        <span style="float: right;">{{commande.prix()}}€</span>
      </div>
    </div>

    <ng-template #panierVide>
      Le panier est vide
    </ng-template>

  </div>
</div>
