<div class="gf-panier">
  <div class="gf-panier-header row">
    <h4 class="col">Mon panier</h4>
    <button class="col" type="button" class="btn btn-outline-success">Modifier mon panier</button>
  </div>

  <div class="gf-panier-contenu">

    <div *ngIf="!chargement; else enChargement">
      <div *ngIf="panier; else panierVide">
        <ngb-accordion class="gf-une-formule">
          <ngb-panel *ngFor="let formule of panier.formules">
            <ng-template ngbPanelTitle>
              <span><strong>{{formule.designation}}</strong></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div>
                <div *ngFor="let produit of formule.produits">
                  {{produit.quantite}}x {{produit.designation}}
                </div>
              </div>
              <div style="border: 1px solid grey; margin: 10px 1% 10px 1%;"></div>
              <div>
                <span>{{formule.produits.length}} produit(s) ajouté(s)</span>
                <span style="float: right;">{{formule.prix}}€</span>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <div style="border: 1px solid grey; margin: 10px 1% 10px 1%;"></div>
        <div>
          <span>{{panier.nombreProduits()}} produit(s) ajouté(s)</span>
          <span style="float: right;">{{panier.prix()}}€</span>
        </div>
      </div>

      <ng-template #panierVide>
        Le panier est vide
      </ng-template>
    </div>

    <ng-template #enChargement>
      <div>
        <div class="spinner-border" role="status">
          <span class="sr-only">Chargement...</span>
        </div>
      </div>
    </ng-template>

  </div>
</div>
