<div class="container mb-5">
    <h1>Administration</h1>
    <br>
    <div class="row">
        <div class="col-6 align-middle" style="">
            <div class="row">
                <div class="col-5 card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">FORMULES</h5>
                        <hr>
                        <fa-icon [icon]="icons.admin.formules"></fa-icon><span style="margin-left: 15px;">3 Formules</span>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5 card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">PRODUITS</h5>
                        <hr>
                        <fa-icon [icon]="icons.admin.produits"></fa-icon><span style="margin-left: 15px;">55 Produits</span>
                    </div>
                </div>
                <div class="col-12" style="height: 25px;"></div>
                <div class="col-5 card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">COMMANDES</h5>
                        <hr>
                        <fa-icon [icon]="icons.admin.commandes"></fa-icon><span style="margin-left: 15px;">3 En cours</span>
                    </div>
                </div>
                <!-- <div class="col-2"></div>
                <div class="col-5 card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">STOCK</h5>
                        <hr>
                        <fa-icon [icon]="icons.admin.stock"></fa-icon><span style="margin-left: 15px;">Entrées / Sorties</span>
                    </div>
                </div> -->
            </div>

        </div>
        <div class="col-1" style="border-right: 6px solid green;height: 500px;width: 50px;"></div>
        <div class="col-5" style="">
            <h3 class="text-center">Nom du franchisé</h3>
            <h6 class="mx-5">ADRESSE :</h6><span></span>
            <h6 class="mx-5">COMPLÉMENT :</h6><span></span>
            <h6 class="mx-5">CP :</h6><span></span>
            <h6 class="mx-5">PAYS :</h6><span></span>
            <h6 class="mx-5">TEL :</h6><span></span>
            <h6 class="mx-5">MOBILE :</h6><span></span>
            <h6 class="mx-5">EMAIL :</h6><span></span>
        </div>
    </div>

</div>