<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text bg-primary text-light">Formules</span>
  </div>
  <gf-select-item (itemSelected)="formuleSelectionnee = $event" [franchise]="franchise"></gf-select-item>
  <div class="mb-0">
    <button [disabled]="!formuleSelectionnee" class="btn btn-sm btn-success" (click)="ajouterFormule()">
      <fa-icon [icon]="icons.produits.add"></fa-icon>
    </button>
    <button [disabled]="!formuleSelectionnee" class="btn btn-sm btn-info" (click)="voirStructureFormule()">
      <fa-icon [icon]="icons.formule.infos"></fa-icon>
    </button>
  </div>
</div>

<div>

  <!-- Gestion des différentes formules de la commande -->
  <div class="card gf-formule" [class.active]="contenu.id === formuleSelectionneeAjout?.id"
    *ngFor="let contenu of commande?.formules || []">
    <div class="p-3 mb-0 d-flex justify-content-between">
      <h5 class="mb-0" (click)="collapse.toggle()">
        <fa-icon class="mr-2"
          [icon]="formulesAffichees[contenu.id] ? icons.catalogue.collapsed : icons.catalogue.uncollapsed">
        </fa-icon>
        Formule - {{contenu?.formule?.designation}}
      </h5>
      <h5 class="mb-0" (click)="retirerFormule(contenu)">
        <fa-icon [icon]="icons.formule.delete"></fa-icon>
      </h5>
      <h5 class="mb-0" (click)="formuleSelectionneeAjout = contenu">
        <fa-icon [icon]="icons.formule.infos"></fa-icon>
      </h5>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="formulesAffichees[contenu.id]">
      <ul>

        <!-- Gestion des produits de la formule -->
        <li *ngFor="let contient of contenu.produits || []">
          {{contient.quantite}} {{contient.produit?.designation}}
          {{(contient.produit?.prix || 0) | currency: 'EUR':'symbol':'.2-2':'FR' }}
          <button class="mb-0 btn btn-sm btn-danger" (click)="retirerProduit(contenu, contient)">
            <fa-icon [icon]="icons.produits.remove"></fa-icon>
          </button>
        </li>
      </ul>
    </div>
    <h6>Total formule : {{ (contenu?.formule?.prix || 0) | currency: 'EUR':'symbol':'.2-2':'FR' }}</h6>
  </div>
</div>
