<div class="modal-header">
  <div class="w-100 d-flex gf-justify-evenly align-items-center">

    <h3 class="modal-title">Choisissez une methode depaiement</h3>
    <h5 class="modal-title">ou</h5>
    <h3 class="modal-title">créez en une nouvelle</h3>
</div>
  <button type="button" class="close" (click)="close()">
    <fa-icon [icon]="icons.cancel"></fa-icon>
  </button>
</div>
<div class="modal-body row pb-5">
  <div class="col-lg-6 gf-paiement-liste">
    <div class="my-1 gf-paiement-item" *ngFor="let methodePaiement of methodesPaiement">
      <gf-info-paiement [methodePaiement]="methodePaiement" (click)="close(methodePaiement)">
      </gf-info-paiement>
    </div>
  </div>
  <div class="col-lg-6">
    <gf-methode-paiement-form class="col-lg-6" [utilisateur]="utilisateur" (submitMethodePaiement)="close($event)"></gf-methode-paiement-form>
  </div>
</div>
