<div class="row">
<div class="input-group mb-3 col-2">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">      <fa-icon [icon]="loupe">   </fa-icon></span>
    </div>
    <input  placeholder="Recherche"/>
</div> 
<div class="input-group mb-3 col-2">
    <select class="mdb-select md-form">
        <option value="" disabled selected>Département</option>
        <option value="1">16 - Charente</option>
        <option value="2">24 - Dordogne</option>
        <option value="3">87 - Haute-Vienne</option>
      </select>
    </div> 

    <div class="input-group mb-3 col-2">
        <select class="mdb-select md-form">
            <option value="" disabled selected>Ville</option>
            <option value="1">Périgueux</option>
            <option value="2">Angouleme</option>
            <option value="3">Limoges</option>
        </select>
    </div> 
</div>