<div class="row row-col-1 row-cols-sm-5">
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">      <img src="GoodFood/app/good-food/src/app/image/loupe.png" style="width:15px;height:15px" alt=""></span>
    </div>
    <input  placeholder="Recherche"/>
</div> 
<div class="input-group mb-3">
    <select class="mdb-select md-form">
        <option value="" disabled selected>Département</option>
        <option value="1">16 - Charente</option>
        <option value="2">24 - Dordogne</option>
        <option value="3">87 - Haute-Vienne</option>
      </select>
    </div> 

    <div class="input-group mb-3">
        <select class="mdb-select md-form">
            <option value="" disabled selected>Ville</option>
            <option value="1">Périgueux</option>
            <option value="2">Angouleme</option>
            <option value="3">Limoges</option>
          </select>
        </div> 
</div>