<p>Politique de confidentialit&eacute; de Good Food&nbsp;</p>
<p><br></p>
<p>La pr&eacute;sente Politique de confidentialit&eacute; d&eacute;crit la fa&ccedil;on dont vos informations personnelles sont recueillies, utilis&eacute;es et partag&eacute;es lorsque vous vous rendez sur GoodFood (le &laquo; Site &raquo;) ou que vous
    y effectuez un achat.</p>
<p><br></p>
<p>INFORMATIONS PERSONNELLES RECUEILLIES</p>
<p><br></p>
<p>Lorsque vous vous rendez sur le Site, nous recueillons automatiquement certaines informations concernant votre appareil, notamment des informations sur votre navigateur web, votre adresse IP, votre fuseau horaire et certains des cookies qui sont install&eacute;s
    sur votre appareil. En outre, lorsque vous parcourez le Site, nous recueillons des informations sur les pages web ou produits individuels que vous consultez, les sites web ou les termes de recherche qui vous ont permis d&apos;arriver sur le Site,
    ainsi que des informations sur la mani&egrave;re dont vous interagissez avec le Site. Nous d&eacute;signons ces informations collect&eacute;es automatiquement sous l&apos;appellation &laquo; Informations sur l&apos;appareil &raquo;.</p>
<p><br></p>
<p>Nous recueillons les Informations sur l&apos;appareil &agrave; l&apos;aide des technologies suivantes :</p>
<p><br></p>
<p>&nbsp; FICHIERS T&Eacute;MOINS (COOKIES)</p>
<p><br></p>
<p>Voici une liste de fichiers t&eacute;moins que nous utilisons. Nous les avons &eacute;num&eacute;r&eacute;s ici pour que vous ayez la possibilit&eacute; de choisir si vous souhaitez les autoriser ou non.</p>
<p><br></p>
<p>_SESS12ca17b49af2289436f303e0166030a2, identificateur unique de session, permet &agrave; www.goodfood.com de stocker les informations relatives &agrave; votre session (r&eacute;f&eacute;rent, page de renvoi, etc.).</p>
<p><br></p>
<p>Le service Stripe est utilis&eacute; pour les paiements en ligne.</p>
<p><br></p>
<p>Lorsque nous utilisons l&apos;expression &laquo; Informations personnelles &raquo; dans la pr&eacute;sente Politique de confidentialit&eacute;, nous faisons allusion &agrave; la fois aux Informations sur l&apos;appareil et aux Informations sur la commande.</p>
<p><br></p>
<p>COMMENT UTILISONS-NOUS VOS INFORMATIONS PERSONNELLES ?</p>
<p><br></p>
<p>En r&egrave;gle g&eacute;n&eacute;rale, nous utilisons les Informations sur la commande que nous recueillons pour traiter toute commande pass&eacute;e par le biais du Site (y compris pour traiter vos informations de paiement, organiser l&apos;exp&eacute;dition
    de votre commande et vous fournir des factures et/ou des confirmations de commande). &nbsp;En outre, nous utilisons ces Informations sur la commande pour :</p>
<p>communiquer avec vous ;&eacute;valuer les fraudes ou risques potentiels ; et</p>
<p>lorsque cela correspond aux pr&eacute;f&eacute;rences que vous nous avez communiqu&eacute;es, vous fournir des informations ou des publicit&eacute;s concernant nos produits ou services.</p>
<p>Nous utilisons les Informations sur l&apos;appareil (en particulier votre adresse IP) que nous recueillons pour &eacute;valuer les fraudes ou risques potentiels et, de mani&egrave;re plus g&eacute;n&eacute;rale, pour am&eacute;liorer et optimiser notre
    Site (par exemple, en g&eacute;n&eacute;rant des analyses sur la fa&ccedil;on dont nos clients parcourent et interagissent avec le Site, et pour &eacute;valuer la r&eacute;ussite de nos campagnes de publicit&eacute; et de marketing).</p>
<p><br></p>
<p>Nous partageons vos Informations personnelles avec des tiers qui nous aident &agrave; les utiliser aux fins d&eacute;crites pr&eacute;c&eacute;demment. &nbsp;Par exemple, nous utilisons [H&eacute;bergeur] pour h&eacute;berger notre boutique en ligne &ndash;
    pour en savoir plus sur l&apos;utilisation de vos Informations personnelles par [H&eacute;bergeur], veuillez consulter la page suivante : https://www.ovh.com/fr/protection-donnees-personnelles/.&nbsp;</p>
<p><br></p>
<p>Enfin, il se peut que nous partagions aussi vos Informations personnelles pour respecter les lois et r&egrave;glementations applicables, r&eacute;pondre &agrave; une assignation, &agrave; un mandat de perquisition ou &agrave; toute autre demande l&eacute;gale
    de renseignements que nous recevons, ou pour prot&eacute;ger nos droits.</p>
<p><br></p>
<p>PUBLICIT&Eacute; COMPORTEMENTALE</p>
<p>Comme indiqu&eacute; ci-dessus, nous utilisons vos Informations personnelles pour vous proposer des publicit&eacute;s cibl&eacute;es ou des messages de marketing qui, selon nous, pourraient vous int&eacute;resser. &nbsp;Pour en savoir plus sur le fonctionnement
    de la publicit&eacute; cibl&eacute;e, vous pouvez consulter la page d&apos;information de la Network Advertising Initiative (NAI) &agrave; l&apos;adresse suivante : http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.</p>
<p><br></p>
<p>NE PAS SUIVRE</p>
<p>Veuillez noter que nous ne modifions pas la collecte de donn&eacute;es de notre Site et nos pratiques d&apos;utilisation lorsque nous d&eacute;tectons un signal &laquo; Ne pas suivre &raquo; sur votre navigateur.</p>
<p><br></p>
<p>VOS DROITS</p>
<p>Si vous &ecirc;tes r&eacute;sident(e) europ&eacute;en(ne), vous disposez d&apos;un droit d&apos;acc&egrave;s aux informations personnelles que nous d&eacute;tenons &agrave; votre sujet et vous pouvez demander &agrave; ce qu&apos;elles soient corrig&eacute;es,
    mises &agrave; jour ou supprim&eacute;es. Si vous souhaitez exercer ce droit, veuillez nous contacter au moyen des coordonn&eacute;es pr&eacute;cis&eacute;es ci-dessous.Par ailleurs, si vous &ecirc;tes r&eacute;sident(e) europ&eacute;en(ne), notez
    que nous traitons vos informations dans le but de remplir nos obligations contractuelles &agrave; votre &eacute;gard (par exemple si vous passez une commande sur le Site) ou de poursuivre nos int&eacute;r&ecirc;ts commerciaux l&eacute;gitimes, &eacute;num&eacute;r&eacute;s
    ci-dessus. &nbsp;Veuillez &eacute;galement noter que vos informations seront transf&eacute;r&eacute;es hors de l&apos;Europe, y compris au Canada et aux &Eacute;tats-Unis.</p>
<p><br></p>
<p><br></p>
<p>R&Eacute;TENTION DES DONN&Eacute;ES</p>
<p>Lorsque vous passez une commande par l&apos;interm&eacute;diaire du Site, nous conservons les Informations sur votre commande dans nos dossiers, sauf si et jusqu&apos;&agrave; ce que vous nous demandiez de les supprimer.</p>
<p><br></p>
<p><br></p>
<p>CHANGEMENTS</p>
<p>Nous pouvons &ecirc;tre amen&eacute;s &agrave; modifier la pr&eacute;sente politique de confidentialit&eacute; de temps &agrave; autre afin d&apos;y refl&eacute;ter, par exemple, les changements apport&eacute;s &agrave; nos pratiques ou pour d&apos;autres
    motifs op&eacute;rationnels, juridiques ou r&eacute;glementaires. NOUS CONTACTER</p>
<p>Pour en savoir plus sur nos pratiques de confidentialit&eacute;, si vous avez des questions ou si vous souhaitez d&eacute;poser une r&eacute;clamation, veuillez nous contacter par e-mail &agrave; gexibe8818@advew.com, ou par courrier &agrave; l&apos;adresse
    suivante :</p>
<p><br></p>
<p>&nbsp;78 rue du vieux port, Paris, IDF, 75000, France</p>